log/
target/
novem_data/
attic/

*.log
*.pdf
*.pid
*.o

raft-rs/client/m-broker
raft-rs/client/m-broker-tp
raft-rs/client/m-receiver
raft-rs/client/m-sender
raft-rs/client/m-amhs_com
raft-rs/client/m-host_com
raft-rs/client/m-trans_ctl

.python-version
