/log

/broker/target

/scripts/*.log
/scripts/*.pdf

/*.pid

/client/m-broker
/client/m-broker-tp
/client/m-receiver
/client/m-sender
/client/m-amhs_com
/client/m-host_com
/client/m-trans_ctl
/client/*.o
/client/mpstat_log
